<div class="row">
  <div class="twelve columns text-center">
    <% @things.each do |thing| %>
      <div id="<%= thing[:id] %>">
        <h4><%= thing[:name] %></h4>
        <img src="<%= thing[:url] %>" width="200">
      </div>
    <% end %>
  </div>
</div>
