<div class="row">
  <div class="thing twelve columns text-center">
    <h1>What tastes good?</h1>
    <form method="post" action="/things">
      <input id="name" name="name" placeholder="Name of the thing" required>
      <input id="url" name="url" placeholder="Image URL" required>
      <input type="submit" value="Submit It!">
    </form>
  </div>
</div>
